.about-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    color: black;
}

.about-page h1, .about-page h2 {
    color: #333;
    margin-bottom: 1rem;
}

.about-page p {
    margin-bottom: 1.5rem;
}

.about-intro {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 2rem;
    max-width: 91%;
}

.mission, .features, .benefits, .contact {
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
}

.mission p, .features ul, .benefits ul, .contact ul {
    margin-left: 2rem;
}

ul {
    list-style-type: disc;
}

ul li {
    margin-bottom: 0.75rem;
}

.contact ul li {
    list-style-type: none;
}

.contact ul li strong {
    display: inline-block;
    width: 100px;
}

.contact p {
    margin-bottom: 0.5rem;
}
