*{
    width: 100%;
}

.homepage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/path-to-your-background-image.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 2rem;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn-primary {
    padding: 1rem 2rem;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    max-width: 50%;
}

.btn-primary:hover {
    background-color: #ff8533;
}
