.payments-page {
    padding: 2rem;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10%;
    margin-bottom: 10%;
    color: black;
}

.payments-page h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.payments-page p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.btn-primary {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

.btn-primary:hover {
    background-color: #ff8533;
}
